<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
  <p><%= link_to("#{shelter.name}", "/shelters/#{shelter.id}") %></p>
  <%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
  <%= button_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
<% end %>

<%= link_to "New Shelter", "/shelters/new" %>
