<h1>Pets</h1>

<% @pets.each do |pet| %>
  <h3><%= pet.name %> </h3>
  <p>Image: <img src="<%= pet.image %>" alt="<%= pet.name %>"> </p>
  <p>Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter.name %></p>
<% end %>
