<p><%= link_to("List of Shelters", "/shelters") %></p>

<h1>Pets</h1>

<% @shelter_pets.each do |pet| %>
  <p>Image: <img src="<%= pet.image %>" alt="<%= pet.name %>"> </p>
  <h3><%= pet.name %> </h3>
  <h3><%= link_to("#{pet.name}", "/pets/#{pet.id}") %></h3>
  <p>Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Description: <%= pet.description %> </p>
  <p>Adoptable? <%= pet.adoption_status %> </p>

  <%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %>
  <br>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
  <br>
<%= link_to "Create Pet", "/shelters/#{@shelter_identifier.id}/pets/new", {:shelterid => @shelter_identifier.id} %>
