<h1>This is <%= @pet.name %>!</h1>

  <p><img src="<%= @pet.image %>" alt="<%= @pet.name %>"> </p>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Gender: <%= @pet.sex %></p>
<p>Adoptable? <%= @pet.adoption_status %></p>
